.md {
    ion-segment {
        width: 60%;
        margin: auto;
    }
}

ion-header {
    ion-toolbar {
        --background: var(--ion-color-secondary);
        ion-segment {
            --background: var(--ion-color-primary);
            ion-segment-button {
                --color: var(--ion-color-white);
                --color-checked: var(--ion-color-primary);
            }
        }
    }
}

ion-content {
    ion-list {
        margin-top: 2rem;
    }
}